<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>notifeeder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>de.DyonisosFergadiotis.NotiFeeder.feedRefresh</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>NotiFeeder benötigt Zugriff auf die Kamera, damit du ein Profilbild aufnehmen kannst.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NotiFeeder benötigt Zugriff auf deine Fotos, damit du ein Profilbild oder einen Homescreen-Screenshot auswählen kannst.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
